* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: all 1.5s ease-in-out;
}

#play { background-image: url('ps.jpg'); }
#xbox { background-image: url('xbox.jpg'); }

#xbox, #play {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;    
}

.bg-img {
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-content: center;
}

.form-img {
    display: grid;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
    min-width: 50vw;
    position: relative;
    height: 100vh;
    gap: 50px;
}

.bg-img div h2 {
    color: #FFF;
    font-size: 50px;
    padding-top: 100px;
    text-align: center;
    align-self: end;
}

#play::before, #xbox::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
} 

#play::before { background-color: rgba(117, 115, 226, 0.9); }
#xbox::before { background-color: rgba(0, 0, 0, 0.3); } 

.center-btn {
    width: 100%;
    display: grid;
    place-content: center;
    align-self: start;
}

.bg-img div div button{
    color: #FFF;
    border: solid 3px #FFF;
    background-color: transparent;
    width: 100%;
    padding: 20px 40px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 600;
    transition: 0.2s;
}

#btn-ps:hover {
    background-color: #5754EC;
    border: #5754EC solid 3px;
}

#btn-xbox:hover {
    background-color: #1C7A1C;
    border: #1C7A1C solid 3px;
}
